{% extends 'layouts/base.html' %}
{% load static %}
{% load staticfiles %}
<title>{% block title %}Miniers | {{ block.super }}{% endblock %}</title>

{% block content %}
    <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
              <h3 class="section-title">SECTEUR ENERGIE</h3>
         </header>

          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="../../static/images/intro-carousel/1.jpg" height="400" width="800" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../static/images/intro-carousel/2.jpg" height="400" width="800" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../static/images/intro-carousel/5.jpg" height="400" width="800" alt="Third slide">
                </div>
              </div>
            </div>
          <hr/>
        <p class="text-justify">Vu l’importance et le rôle que joue l’énergie dans tout pays qui se veut développer, OURAGAN conscient de cette réalité encourage et aide tout investisseur qui voudra investir en RDC.
        <br/>De nos jour l’énergie est un élément indispensable et très capitale pour le développement d’un pays.
        Et joue un rôle très important dans l’économie-industrielle. La RDC étant un de pays en développement OURAGAN en complicité avec le ministère de l’énergie aide tout investisseur dans ce secteur pour la réalisation visant à électrifier toute l’étendue de la république.
        </p>

      </div>
    </section>
{% endblock %}